@media (min-width: 35em) {
  .top-btns {
    display: flex;
  }

  .top-btns button {
    width: max-content;
    background-color: hsl(var(--success));
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    padding-block: 0.3em;
    padding-inline: 1em;
    border-radius: 1.4rem;
    margin: 0.6em;
    cursor: pointer;
  }

  .edit-delete {
    display: flex;
    gap: 1.5em;
  }

  .fa-edit,
  .fa-trash {
    background-color: hsl(var(--primary));
    padding: 0.2rem;
    color: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem !important;
  }

  .fa-trash {
    background-color: hsl(var(--danger));
  }

  .fa-edit {
    background-color: hsl(var(--success));
  }

  .hidebtn {
    display: none;
  }

  .hidebtn.show {
    display: block;
  }
}








@media (max-width: 35em) {
  .top-btns {
    display: flex;
  }

  .top-btns button {
    width: max-content;
    background-color: hsl(var(--success));
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    padding-block: 0.3em;
    padding-inline: 1em;
    border-radius: 1.4rem;
    cursor: pointer;
  }

  .edit-delete {
    display: flex;
    gap: 1.5em;
  }

  .fa-edit,
  .fa-trash {
    background-color: hsl(var(--primary));
    padding: 0.2rem;
    color: white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem !important;
  }

  .fa-trash {
    background-color: hsl(var(--danger));
  }

  .fa-edit {
    background-color: hsl(var(--success));
  }

  .hidebtn {
    display: none;
  }

  .hidebtn.show {
    display: block;
  }
}