.emailwhatsappform {
  margin-top: 0.6em;
}

.emailwhatsappform a:nth-of-type(1) {
  margin-right: 1em;
}

.emailwhatsappform .fa {
  font-size: 1.4rem;
  color: #777;
}

.emailwhatsappform .fa-whatsapp {
  color: hsl(120, 100%, 25%);
}

.emailwhatsappform .fa-envelope {
  color: hsl(261, 92%, 40%);
}

.formoutput a:nth-of-type(1) {
  color: #444;
  text-decoration: none;
  font-size: 1rem;
}

.emailphone {
  width: 20rem;
  margin-bottom: 0.6em;
}

.remessage {
  height: 8rem;
}

.reminderbox.hide{
  visibility: hidden!important;
}