.expenses {
  padding: 5.6rem;
  background-color: white;
  min-height: 100vh;

  & > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    width: 80rem;
    align-items: center;
    margin-inline: auto;

    & > div {
      flex: 1 1 10rem;
    }

    & > div:nth-of-type(1) {
      .companydetails {
        text-align: left;
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      gap: 3.2rem;
      justify-content: flex-end;

      .record-expense-btn {
        background-color: var(--black);
        color: white;
        display: flex;
        align-items: center;
        gap: 1.6rem;
      }
    }
  }

  & > div:nth-of-type(2) {
    display: flex;
    border: solid 0.1rem #ccc;
    text-align: center;
    width: 80rem;
    margin-inline: auto;
    margin-block: 2.4rem;
    & > div {
      flex: 1 1 10rem;
      padding: 4rem;
      h5 {
        opacity: 0.7;
        margin-bottom: 1.2rem;
      }

      &:nth-of-type(1) {
        border-right: solid 0.1rem #ccc;
      }
    }
  }

  & > div:nth-of-type(3) {
    width: 80rem;
    padding: 4rem;
    border: solid 0.1rem #ccc;
    margin-inline: auto;
    & > div:nth-of-type(1){
        margin-bottom: 2.4rem;
    }
  }
}




