@media (min-width: 35em) {
  .login-wrapper {
    display: flex;
    background-color: white;
    & > div {
      flex: 1 1 30rem;
      height: 100vh;
    }

    & > div:nth-of-type(1) {
      flex-grow: 3;
      padding: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        width: 30rem;
        & > div:nth-of-type(1) {
          text-align: center;
          margin-bottom: 4.8rem;
        }

        .btn-rounded {
          width: 100%;
        }
      }

      .forgot-pass {
        display: block;
        margin-bottom: 1.6rem;
        margin-top: -1.6rem;
      }
    }
  }
}

@media (max-width: 35em) {
  .login-wrapper {
    position: relative;

    & > div:nth-of-type(1) {
      position: absolute;
      width: 100%;
      height: 100vh;

      z-index: 2;
      flex-grow: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        width: 30rem;
        padding: 2.4rem;
        background-color: white;
        border-radius: 1.2rem;
        & > div:nth-of-type(1) {
          text-align: center;
          margin-bottom: 4.8rem;
        }

        .btn-rounded {
          width: 100%;
        }
      }

      .forgot-pass {
        display: block;
        margin-bottom: 1.6rem;
        margin-top: -1.6rem;
      }
    }

    & > div:nth-of-type(2) {
      height: 100vh;
      position: fixed;
      inset: 0;
      z-index: 1;
      &::before{
        content: '';
        position: absolute; 
        inset: 0;
        background-color: rgba(0,0,0, .2);
        z-index: 1;
      }
    }
  }
}
