
  .modalboxone {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .modalboxtwo {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .noreload {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .noreload2 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .noreload3 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .modalboxthree {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }
  .modalboxfour {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }

  .modalboxfive {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    overflow-y: scroll;
    overflow-x: none;
  }

  @media(min-width: 35rem){ 
    .modal-inner {
      background-color: #fff;
      padding: 1.5em;
      flex: 10rem 1 1;
      margin-inline: 11em;
      margin-block: 2em;
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: 1.2rem;
    }
  }

  @media(max-width: 35rem){ 
  .modal-inner {
    background-color: #fff;
    padding: 1.5em;
    flex: 10rem 1 1;
    margin-inline: 1em;
    margin-block: 2em;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1.2rem;
    
  }
}
  .modal-top h1 {
    font-size: 2.2rem;
    color: var(--muted);
    text-transform: uppercase;
  }
  .modal-top .close-modal {
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    color: white;
    height: 2rem;
    width: 2rem;
    background-color: var(--muted);
  }
  .modal-top {
    display: flex;
    justify-content: space-between;
  }

  .modal-footer button {
    cursor: pointer;
    border: solid 0.1rem #666;
    background: none;
    color: #666;
    padding: 0.2em;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  button:hover {
    background-color: #fff;
    border: solid 1px #666;
    color: #666;
  }

  .modalboxone,
  .modalboxtwo,
  .modalboxthree,
  .modalboxfour,
  .modalboxfive,
  .noreload,
  .noreload2,
  .noreload3 {
    visibility: hidden;
  }

  .modal-btn {
    text-align: center;
  }

  .modalboxone.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .modalboxtwo.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .noreload.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .noreload2.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .noreload3.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .modalboxthree.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .modalboxfour.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .modalboxfive.show {
    visibility: visible;
    opacity: 0;
    animation: modal 0.1s ease-in forwards;
  }

  .modalcloseicon{
    font-size: 4rem;
  }

  @keyframes modal {
    to {
      opacity: 1;
    }
  }

