.monthlyreport {
  position: fixed;
  bottom: 0;
  right: 1rem;
  width: 25rem;
  z-index: 98;
  text-align: center;
  bottom: -36rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--muted);
  transition: 0.2s ease-in;
}

.monthlyreport:hover {
  bottom: 0;
}

.monthlyreport > div:nth-of-type(1) {
  background-color: #efefef;
  border: solid 0.1rem var(--muted);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  color: var(--muted);
  font-size: 1.4rem;
  padding: 0.4em;
}

.monthlyreport div:nth-of-type(2) {
  border: solid 0.1rem var(--muted);
  color: var(--muted);
  font-size: 1.2rem;
  background-color: white;
}

.monthlyreport ul li {
  display: flex;
  gap: 2em;
  padding: 1em;
  border-bottom: solid 0.1rem var(--muted);
}

.monthlyreport ul li span:nth-of-type(1) {
  width: 4rem;
  height: 4rem;
  border: solid 0.1rem black;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(var(--black));
  background-color: hsl(var(--warning));
  border-radius: 50%;
}

.monthlyreport ul li span:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.minirepdate {
  background-color: var(--muted);
  padding: 0.4em;
  color: white;
  text-align: center;
}
