.navbar {
  background-color: white;
  padding-block: 1.6rem;
  padding-inline: 5.6rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

  .nav-bar-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
  }

  .nav-bar-icons {
    display: flex;
    justify-content: space-between;

    & > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      .hamburger {
        height: 3rem;
        cursor: pointer;
      }
      h4 {
        color: hsl(var(--muted));
      }
    }
  }

  .other-nav-details {
    display: flex;
    gap: 5.6rem;
    align-items: center;
    .logout {
      background-color: #444;
      color: white;
      display: block;
      padding-inline: 1.2rem;
      padding-block: 0.8rem;
      border-radius: 2.4rem;
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
  }

  .bellicon {
    position: relative;

    .alert-rounded {
      cursor: pointer;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: hsl(var(--danger));
      color: white;
      position: absolute;
      z-index: 2;
      top: 0.8rem;
      left: 0.4rem;
    }

    .expiries-wrapper {
      width: 30rem;
      position: absolute;
      right: 0;
      top: 2rem;
      display: none;
      & > div:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;

        .close-expiry-wrapper {
          width: 3rem;
          height: 3rem;
          border: solid 0.1rem #777;
          color: #777;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          &:hover {
            background-color: #777;
            color: white;
          }
        }
      }

      .expiries-box {
        height: 30rem;
        overflow-y: scroll;
        width: 100%;

        border-radius: 1.6rem;
        background-color: white;
        border: solid 0.1rem #777;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

        .expiriesbx {
          margin: 1.6rem;
          padding: 1.6rem;
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          .expiriesbx-details {
            h5 {
              line-height: 2.4rem;
              color: #777;
            }
            .expbtns {
              display: flex;
              gap: 1.6rem;
              & > a {
                display: block;
                color: hsl(var(--muted));
                border-radius: 1.6rem;
                font-size: 1.2rem;
                padding-inline: 1.2rem;
                padding-block: 0.4rem;
                margin-top: 1.6rem;
              }

              & > a:nth-of-type(1) {
                border: solid 0.1rem #555;

                &:hover {
                  background-color: #555;
                  color: white;
                }
              }

              & > a:nth-of-type(2) {
                border: solid 0.1rem hsl(var(--success));
                &:hover {
                  background-color: hsl(var(--success));
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }

  .alert-rounded.show {
    display: flex;
  }
  .expiries-wrapper.show {
    display: block;
  }

  .smssbx {
    padding: 1.6rem;
    border-radius: 1.2rem;
    border: solid 0.1rem #555;
    font-size: 1.2rem;
    margin-top: 0.8rem;
    & > button {
      cursor: pointer;
      display: block;
      color: white;
      width: max-content;
      border-radius: 1.2rem;
      padding-inline: 0.8rem;
      padding-block: 0.4rem;
      background-color: #555;
      margin-bottom: 1.2rem;
    }

    & > input {
      width: 100%;
      padding: 0.4rem;
      outline: none;
      border: solid 0.1rem #777;
      margin-bottom: 1.2rem;
    }

    & > textarea {
      width: 100%;
      margin-bottom: 1.2rem;
      padding: 0.4rem;
    }

    & > a {
      display: block;
      background-color: hsl(var(--success));
      border-radius: 1.6rem;
      padding: 0.4rem;
      color: white;
      text-align: center;
    }
  }
  .profile-img {
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: solid 0.1rem #777;
    padding: 0.4rem;
    & > img:nth-of-type(1) {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }

  .profileformbox {
    padding: 2.4rem;
    position: fixed;
    top: 7rem;
    height: 100vh;

    right: -100%;
    background-color: white;
    transition: 0.4s;

    .profile-upload-bx {
      display: flex;
      gap: 2.4rem;

      & > div {
        & > label {
          background-color: #555;
          padding-block: 0.4rem;
          padding-inline: 2.4rem;
          color: white;
          width: 10rem;
          display: block;
          border-radius: 1.6rem;
          border: solid 0.1rem #555;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: #555;
          }
          & > input {
            display: none;
          }
        }
      }
    }

    .saveprofile {
      border: none;
      padding-block: 0.8rem;
      border-radius: 2.4rem;
      color: white;
      width: 100%;
      background-color: hsl(var(--success));
      cursor: pointer;
      border: solid 0.1rem hsl(var(--success));
      &:hover {
        background-color: white;
        color: hsl(var(--success));
      }
    }
  }

  .img-preview {
    display: flex;
    gap: 2.4rem;
    max-height: 5rem;
    margin-block: 1.6rem;
    & > div {
      width: 10rem;
      overflow: hidden;
    }
  }
  .profileformbox.show {
    right: 0;
  }
  .profileformbox.hide {
    right: -100%;
  }
}

@media (min-width: 35em) {
}

@media (max-width: 35em) {
}
