.show-customers,
.show-referrers,
.acc-statement {
  background-color: hsl(var(--success));
  color: white;
  width: 100%;
  padding: 0.4rem;
  border-radius: 3rem;
  font-size: 1rem;
  padding-inline: 1.2rem;
  cursor: pointer;
  margin-top: 0.4rem;
  text-transform: uppercase;
}

.cust-rep-btn {
  background-color: hsl(var(--black));
  width: 100%;
  color: white;
  padding: 0.4rem;
  border-radius: 3rem;
  font-size: 1rem;
  padding-inline: 1.2rem;
  cursor: pointer;
}

.save-customer {
  background-color: hsl(var(--black));
  color: white;
  width: max-content;
  padding: 0.4rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  padding-inline: 1.2rem;
  cursor: pointer;
}

.addinvnote.show {
  display: block !important;
}
.addinvnote.hide {
  display: none !important;
}

.checkbxdiv {
  display: flex;
  gap: 3rem;
  margin-inline: 0.8rem;
  margin-bottom: 2.4rem;

  & > div {
    flex: 10rem 1 1;
  }
}

.debt-box {
  position: relative;
}

.debt-box:hover > div {
  display: block;
  cursor: pointer;
}

.sales-min-report {
  display: none;
  position: absolute;
  left: 0;
  top: 2rem;
  z-index: 2;
  width: 70%;
  height: 25rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.03);
  background-color: white;
  padding: 1.2rem;
}

.sales-min-report .hed table {
  width: 100%;
  background-color: #ccc;
  padding: 0.3rem;
  color: black;
}

.sales-min-report table {
  width: 100%;
}

.sales-min-report > div:nth-of-type(1) {
  margin-bottom: 1rem;
}

.sales-min-report > div {
  padding: 1.5rem;
  border: solid 0.1rem #ccc;
  height: 10rem;
  overflow-y: scroll;
}

.addnote {
  position: relative;
}

.addnote textarea {
  height: 6rem;
  padding: 1em;
}

.addnote label {
  position: absolute;
  top: -1.5rem;
  left: 0.5rem;
  background-color: white;
  padding: 0.2rem;
  font-size: 1.6rem;
  color: hsl(var(--danger));
}

.addnote > a {
  display: block;
  padding: 0.8rem;
  border-radius: 3rem;
  background-color: hsl(var(--success));
  color: white;
  margin-top: 1.6rem;
  text-align: center;
}

.pos-height {
  height: 100rem;
  padding: 1em;
  font-size: 1.3rem;
  position: relative;
}

.invoicestatus {
  background-color: #ddd;
  color: #777;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  margin-inline: 0.8rem;
}

.products-top-bar {
  display: flex;
}

.cancel-transaction {
  background-color: hsl(var(--danger)) !important;
}

.cancel-transaction:hover {
  background-color: white !important;
  border: solid 0.1rem var(--muted) !important;
  color: var(--muted);
}

.pos-prod-table li {
  flex-grow: 1;
}

.pos-prod-table li:nth-of-type(1) {
  flex-basis: 60%;
}

.pos-prod-table li:nth-of-type(2) {
  flex-basis: 7rem;
  text-align: center;
}

.pos-prod-table li:nth-of-type(3) {
  flex-basis: 5rem;
}

.pos-prod-table li:nth-of-type(4) {
  flex-basis: 4rem;
}

.pos-prod-table li img {
  width: 4rem;
  height: 3rem;
}

.pos-prod-searchbx {
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  padding-inline: 0.8rem;
  height: 4rem;
}

.prod-img-bx {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.prod-img-bx div {
  flex: 10rem 1 1;
}

.posprodimgbx {
  display: flex;
  gap: 4em;
  border-bottom: 0.1rem solid var(--muted);
  padding: 0.5em;
}

.posprodimgbx {
  flex: 5rem 1 1;
}

.pos-product-output {
  height: 70rem;
}

.pos-height .div-table {
  margin-top: -2rem !important;
}

.total-amnt-box {
  background-color: var(--muted);
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  margin-top: 2.4rem;
  margin-bottom: 2.8rem;
  margin-inline: 0.8rem;
}

.total-amnt-box > h6 {
  color: white;
  margin: 0;
}

.pos-sales-output {
  height: 40rem;
}

.transactionSummary {
  padding: 2em;
  background-color: #efefef;
  margin-inline: 1em;
  height: 20rem;
}

.salesSummaryBar {
  display: flex;
  gap: 1rem;
}

.paymentbox {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 1.5em;
}

.save-invoice-btn {
  display: flex;

  margin-top: -1.4rem !important;
}

.addcustomers,
.viewcustomers {
  height: 2.6rem;
  font-size: 1rem !important;
}

.viewinvoice,
.cancelinvoice {
  background-color: hsl(var(--black)) !important;
}

.cancelinvoice {
  width: 5rem;
  color: white;
  text-align: center;
  padding: 0.3em;
  font-size: 1.2rem;
  height: 2.6rem;
  border-radius: 2rem;
  margin-top: 0.6em;
}

.viewinvoice:hover,
.cancelinvoice:hover {
  background-color: hsl(var(--white)) !important;
  border: solid 0.1rem var(--muted);
  color: var(--muted);
}

.prodList {
  color: var(--muted);
}

.delete-item {
  cursor: pointer;
  margin-top: 0.5rem;
}

.top_total_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #efefef;
  padding: 0.4em;
  height: 3rem;
  margin-top: 0.4rem;
}

.hidereceipt {
  display: none !important;
}
.paymentdiplay.hide {
  display: none !important;
}

.paymentdiplay.show {
  display: block !important;
}

.salesinvoicechecbox.hide {
  display: none !important;
}

.salesinvoicechecbox.show {
  display: block !important;
}

.tax-inpt {
  margin-bottom: 2rem;
}

.estimatorinptclass {
  width: 100% !important;
}

.salesTopbar {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
  padding-inline: 0.8rem;
}

.salesTopbar > div {
  flex: 10rem 1 1;
}

.salesTopbar input {
  min-width: 20rem !important;
}

.transactionInputs {
  display: flex;
  padding-inline: 0.8rem;
  gap: 2.4rem;
}
.payment-box,
.othercharges-box,
.subtotal-box {
  flex: 5rem 1 1;
}

.taxbox {
  margin-bottom: 1.5em;
  margin-left: 0.6em;
}

.addcustomerwrapper {
  padding-top: 2em;
  padding-inline: 2em;
  border: solid 0.1rem var(--muted);
  border-radius: 1.2rem;
  position: relative;
}

.addcustomerwrapper h2 {
  position: absolute;
  font-size: 1.8rem;
  color: var(--muted);
  background-color: white;
  padding: 1em;
  top: -3.5rem;
}

.addcustomerwrapper textarea {
  font-size: 1.2rem;
}

.customer-flex-bx {
  display: flex;
  gap: 2em;
}

.customer-flex-bx div {
  flex: 30rem 1 1;
}

.viewcustomerwrapper {
  display: flex;
  gap: 1em;
  font-size: 1.2rem;
}

.viewcustomerwrapper > div {
  flex-grow: 1;
  flex-shrink: 1;
}

.viewcustomerwrapper > div:nth-of-type(1) {
  flex-basis: 22rem;
  height: 45rem;
  border: solid 0.1rem var(--muted);
  border-radius: 1rem;
  padding: 0.7em;
}

.viewcustomerwrapper > div:nth-of-type(2) {
  width: 100%;
  height: 45rem;
  border: solid 0.1rem var(--muted);
  padding: 0.7em;
  border-radius: 1rem;
}

.top-part {
  background-color: #efefef;
  padding: 1em;
  font-size: 1.2rem;
}

.top-part ul li {
  display: flex;
}

.top-part ul li span {
  flex: 5rem 1 1;
}

.tabs {
  height: 30rem !important;
}

.cuts-tabs {
  height: 26rem;
  overflow-y: scroll;
}

.allcustomers-list {
  height: 33rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cust-list-box {
  display: flex;
  gap: 0.5em;
  padding-block: 0.2em;
  border-bottom: 0.1rem solid var(--muted);
}

.cust-list-box div {
  flex-grow: 1;
  flex-shrink: 1;
}

.cust-list-box div:nth-of-type(1) {
  flex-basis: 80%;
}

.cust-list-box div:nth-of-type(2) {
  flex-basis: 4rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.cust-list-box div:nth-of-type(2) .fa {
  flex: 1rem 1 1;
}

.cust-list-box a {
  color: #333;
}

.cust-list-box .fa {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.2em;
  font-size: 1rem;
}

.edcustlist {
  position: relative;
}

.save-receipt-btn {
  display: block;
  background-color: hsl(var(--success));
  padding: 0.7em;
  width: max-content;
  border-radius: 1.4rem;
  color: white;
  font-size: 1rem;
}

.salesinvoice .div-table-inner,
.receipts .div-table-inner,
.proformainvoice .div-table-inner {
  margin: 0 !important;
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.receipt-table,
.sales-invoice-table,
.invoice-table {
  display: flex;
  font-size: 1.2rem !important;
  align-items: center;
  color: #222 !important;
}

/* Begin proforma table */
.invoice-table li:nth-of-type(1) {
  flex-basis: 8rem;
  flex-grow: 1;
}

.invoice-table li:nth-of-type(2) {
  flex-basis: 8rem;
  flex-grow: 1;
}

.invoice-table li:nth-of-type(3) {
  flex-basis: 11rem;
  flex-grow: 1;
}
/* End proforma table */

/* Begin sales invoice */
.sales-invoice-table li:nth-of-type(1) {
  flex-basis: 14rem;
  flex-grow: 1;
}

.sales-invoice-table li:nth-of-type(2) {
  flex-basis: 14rem;
  flex-grow: 1;
}

.sales-invoice-table li:nth-of-type(3) {
  flex-basis: 3rem;
  flex-grow: 1;
}

.sales-invoice-table li:nth-of-type(3) > div {
display: flex; 
}
/* End sales invoice */

.sales-invoice-table li:last-child,
.invoice-table li:last-child {
  display: flex;
  gap: 1em;
  align-items: center;
}

/* Begin receipt */
.receipt-table li:nth-of-type(1) {
  flex-basis: 11rem;
  flex-grow: 1;
}

.receipt-table li:nth-of-type(2) {
  flex-basis: 11rem;
  flex-grow: 1;
}

.receipt-table li:nth-of-type(3) {
  flex-basis: 11rem;
  flex-grow: 1;
}

.receipt-table li:nth-of-type(4) {
  flex-basis: 5rem;
  flex-grow: 1;
}

.receipt-table li:last-child {
  display: flex;
  gap: 1em;
  align-items: center;
}

/* End receipt */

.dup-btn {
  font-size: 0.7rem;
  background-color: hsl(var(--danger));
  color: white;
  padding-inline: 0.4em;
  width: 4rem;
}

.pos-container {
  padding-inline: 5.6rem;
  margin-inline: auto;
}

.pos-products-wrapper {
  padding: 2.4rem;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  background-color: white;
  border-radius: 2.4rem;
  box-shadow: 1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

.pos-products-wrapper > div {
  flex-grow: 1;
  position: relative;
}

.pos-products-wrapper > div:nth-of-type(1) {
  flex-basis: 60rem;
}

.pos-products-wrapper > div:nth-of-type(2) {
  flex-basis: 30rem;
}

.editingmode {
  width: 35rem;
  padding: 0.2em;
  color: black;
  font-size: 1.6rem;
  position: fixed;
  top: 1rem;
  left: -38rem;
  background-color: hsl(var(--warning));
  z-index: 9999;
  border-top-right-radius: 2.3rem;
  border-bottom-right-radius: 2.3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #ccc;
  transition: 0.3s;
}

.editingmode.show {
  left: 0;
}

.editingmode.remove {
  left: -38rem;
}

.editingmode a {
  position: absolute;
  top: 50%;
  right: 1.4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: brown;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.editsavepayment {
  background-color: hsl(var(--success));
  color: white;
  font-size: 1rem;
  padding-block: 0.2em;
  padding-inline: 0.4em;
  text-decoration: none;
}

.payinptedit {
  width: 6rem;
  border: solid 0.1rem #333;
}

.sendemailorwhatsapp {
  padding: 3em;
  font-size: 1.2rem;
}

.sendemailorwhatsapp h4 {
  text-align: center;
  margin-bottom: 1.2em;
  background-color: var(--muted);
  color: white;
  padding: 0.5em;
}

.sendemailorwhatsapp input {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border: solid 0.1rem var(--muted);
  margin-bottom: 1.2em;
  padding: 0.4em;
  width: 30rem;
}

.sendemailorwhatsapp textarea {
  padding: 1.4em;
  margin-bottom: 1.2em;
}

.sociabtnwrapper {
  display: flex;
  gap: 2em;
}
.sendassmslink,
.sociabtn {
  display: block;
  padding: 0.4em !important;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  text-align: center;
  border: solid 0.1rem var(--muted);
}

.sociabtn {
  background-color: hsl(var(--success));
  color: white;
}

.sendassmslink {
  background-color: hsl(var(--warning));
  color: hsl(var(--dark));
}

.sociabtn:hover {
  background-color: white;
  border: solid 0.1rem var(--muted);
  color: var(--muted);
}

.salesicons {
  font-size: 0.8rem !important;
}

.salesicons a {
  margin-right: 2em;
}

.cutomname {
  position: relative;
}

.add-contract {
  position: absolute;
  background-color: var(--muted);
  right: 0;
  top: 0;
  width: max-content;
  color: white;
  border-radius: 1.2rem;
  cursor: pointer;
}

.custdesc {
  width: 30rem;
  height: 20rem;
  background-color: #fefefe;
  position: absolute;
  top: 1.5rem;
  right: 0;
  padding: 1em;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.03);
  display: none;
  z-index: 2;
}

.cutomname:hover .custdesc {
  display: block;
}

.allcustomers-list {
  padding-top: 2em;
}

.customerbtndiv {
  display: flex;
  justify-content: space-between;
}

.customerbtndiv div:nth-of-type(2) {
  font-size: 1.2rem;
}

.referrerboxwrapper {
  display: none;
}

.referrer-box {
  display: flex;
  justify-content: space-between;
  border: solid 0.1rem var(--muted);
  border-radius: 0.5rem;
  align-items: center;
  padding-top: 1.8em;
  padding-inline: 0.6em;
  height: 6rem;
  position: relative;
}

.referrerboxwrapper.show {
  display: block;
}

.referrer-box h5 {
  position: absolute;
  background-color: white;
  top: -1rem;
  right: 2rem;
  font-size: 1.2rem;
  color: #444;
}

.addrows {
  display: none;
  color: white;
  background-color: var(--muted);
  text-align: center;
  border-radius: 3rem;
  padding-block: 0.4rem;
  font-size: 1.2rem;
}

.addrows.hide {
  display: none;
}

.addrows.show {
  display: block;
}

.prod_name.schprod {
  width: 100% !important;
}

.row-inpt {
  width: 5rem;
}
.itmsbtns {
  display: none;
}

.hide-on-desktop {
  display: none;
}

.funds-inpt {
  display: none !important;
}

.funds-inpt.show {
  display: block !important;
  margin-bottom: 2.5em;
}

.contract-form {
  height: 30rem;
  overflow-y: scroll;
  width: 100%;
  margin-inline: auto;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1.6rem;
}

.contract-form > h3 {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
.cont-items {
  background-color: #dedede;
  padding: 1.6rem;
  margin-block: 2.4rem;

  border-radius: 1.2rem;
  h4 {
    margin-bottom: 0.8rem;
    margin-top: -0.8rem;
  }
}

.point2 {
  & > label {
    margin-bottom: 1.2rem;
  }
  margin-bottom: 2.4rem;
  textarea {
    padding: 2.4rem;
    text-align: left;
    height: 15rem;
  }
}

.otherinfo {
  margin-bottom: 2.4rem;
  & > label {
    margin-bottom: 1.2rem;
  }
}
