:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --white: 0, 0%, 100%;
  --black: 0, 0%, 5%;
  --muted: #425c59;
  --danger: 10, 75%, 50%;
  --warning: #ffbe34;
  --primary: 220, 100%, 50%;
  --success: 150, 52%, 51%;
  --lightgreen: 112, 50%, 66%;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@media (max-width: 35em) {
  .marginTop {
    margin-top: 4.5rem;
  }
}

@media (min-width: 35em) {
  .marginTop {
    margin-top: 8.5rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: solid 0.1rem #ccc;
}

a {
  text-decoration: none;
}

h1 {
  color: #333;
  font-size: 4.8rem;
}
h2 {
  color: #333;
  font-size: 3.9rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
