.compname{
  width: max-content;
}

@media (min-width: 35em) {
  .settings-wrapper {
    width: 60vw;
    margin-inline: auto;
    padding: 2em;
    background-color: white;
  }

  .settings-header {
    background-color: #777;
    margin-bottom: 0.6em;
    height: 7.5rem;
    position: relative;
    overflow: hidden;
  }

  .settings-header > img {
    margin-top: -11rem;
    width: 100%;
  }

  .settings-header .fa-pencil {
    font-size: 3rem;
  }

  .settings-header-inner {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 1.1rem;
    transform: translateY(-43%);
  }

  .settings-header-inner div {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .settings-header-inner div:nth-of-type(1) {
    flex-basis: 7rem;
    height: 5rem;
    overflow: hidden;
    background-color: var(--muted);
    border: solid 0.4rem white;
    box-shadow: 1.2rem 1.2rem 2rem hsl(var(--dark));
  }

  .settings-header-inner div:nth-of-type(2) {
    flex-basis: 76%;
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .settings-header-inner div:nth-of-type(2) h1 {
    font-size: 1.8rem;
    color: white;
  }

  .setting-file-uploads {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5em;
  }

  .setting-file-uploads label {
    width: 15rem;
    padding: 0.3em;
    background-color: var(--muted);
    color: white;
    font-size: 1.1rem;
    text-align: center;
  }

  .setting-file-uploads label input {
    display: none;
  }

  .settings-sections {
    border: solid 0.1rem var(--muted);
    padding: 2em;
    position: relative;
    border-radius: 1.2rem;
    margin-bottom: 2em;
  }

  .settings-sections h4 {
    background-color: white;
    position: absolute;
    top: -2.6rem;
    padding: 0.8em;
  }

  .setting-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .save_setting {
    background-color: hsl(var(--success));
    padding: 0.7em;
    text-align: center;
    color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
    align-self: right;
  }

  .comp_terms {
    height: 20rem;
  }

  .settings-row {
    display: flex;
    font-size: 1.1rem;
    color: #222;
    padding: 0.5rem;
    gap: 1.2rem;
  }

  .settings-row div {
    flex: 1rem 1 1;
  }

  .hist-bx .settings-row:nth-of-type(even) {
    background-color: hsl(var(--muted), 0.1);
  }
  .low-stock-controll{
    display: flex;
    flex-wrap: wrap;
  }
  .low-stock-controll div{
    flex: 1rem 1 1;
  }
}

.apprecsmsdiv {
  margin-top: 3.4rem;
}

@media (max-width: 35em) {
  .settings-wrapper {
    margin-inline: auto;
    padding: 2em;
    background-color: white;
  }

  .settings-header {
    background-color: #777;
    margin-bottom: 0.6em;
    height: 7.5rem;
    position: relative;
    overflow: hidden;
  }

  .settings-header > img {
    margin-top: -11rem;
    width: 100%;
    display: block;
    height: 19rem;
  }

  .settings-header .fa-pencil {
    font-size: 3rem;
  }

  .settings-header-inner {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 1.1rem;
    transform: translateY(-43%);
  }

  .settings-header-inner div {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .settings-header-inner div:nth-of-type(1) {
    flex-basis: 7rem;
    height: 5rem;
    overflow: hidden;
    background-color: var(--muted);
    border: solid 0.4rem white;
    box-shadow: 1.2rem 1.2rem 2rem hsl(var(--dark));
  }

  .settings-header-inner div:nth-of-type(2) {
    flex-basis: 76%;
    height: 6rem;
    display: flex;
    align-items: center;
  }

  .settings-header-inner div:nth-of-type(2) h1 {
    font-size: 1.8rem;
    color: white;
  }

  .setting-file-uploads {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5em;
  }

  .setting-file-uploads label {
    width: 15rem;
    padding: 0.3em;
    background-color: var(--muted);
    color: white;
    font-size: 1.1rem;
    text-align: center;
  }

  .setting-file-uploads label input {
    display: none;
  }

  .settings-sections {
    border: solid 0.1rem var(--muted);
    padding: 2em;
    position: relative;
    border-radius: 1.2rem;
    margin-bottom: 2em;
  }

  .settings-sections h4 {
    background-color: white;
    position: absolute;
    top: -2.6rem;
    padding: 0.8em;
  }

  .setting-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .save_setting {
    background-color: hsl(var(--success));
    padding: 0.7em;
    text-align: center;
    color: white;
    border-radius: 2rem;
    font-size: 1.2rem;
    align-self: right;
  }

  .comp_terms {
    height: 20rem;
  }

  .settings-row {
    display: flex;
    font-size: 1.1rem;
    color: #222;
    padding: 0.5rem;
    gap: 1.2rem;
    flex-direction: column;
  }

  .settings-row div {
    flex: 1rem 1 1;
  }

  .hist-bx .settings-row:nth-of-type(even) {
    background-color: hsl(var(--muted), 0.1);
  }

  .low-stock-controll{
    display: flex;
    flex-direction: column;
  }
  .low-stock-controll div{
    flex: 1rem 1 1;
  }


}

.receipttype1 + label {
  left: 53% !important;
  transform: translateX(-50%);
}
.low-stocks{
  font-size: 1.2rem;
}

.low-stocks .low_stocks_qty{
  width: 6.8rem;
  margin-bottom: .6em;
}

.receipttype2 + label {
  left: 50% !important;
  transform: translateX(-50%);
}
