@media (min-width: 35em) {



  .bulksms  {
    padding-top: 5.6rem;
  }



  .bulksms > div {
    background-color: white;
    padding-inline: 4em;
    padding-block: 3em;
    display: flex;
    gap: 2em;
    font-size: 1.2rem;
  }

  .bulksms > div > div {
    flex: 6rem 1 1;
  }

  .bulksms > div > div textarea {
    padding: 0.8em;
    height: 13rem;
    margin-block: 1em;
    width: 100%;
  }

  .addexistingcont {
    background-color: hsl(var(--success));
    color: white;
    padding: 0.7em;
    width: 100%;
    text-align: center;
    display: block;
  }

  .smsbalance {
    padding: 0.7em;
    width: 100%;
    display: block;
  }

  .sendsms {
    background-color: hsl(var(--success));
    color: white;
    padding: 0.7em;
    text-align: center;
    border-radius: 3rem;
    margin-top: 2em !important;
  }

  .smscontacts ul li:nth-of-type(2) {
    flex: 30rem 1 1;
  }

  .smscontacts .div-table-inner {
    height: 25rem;
  }

  .smscontacts a {
    background-color: hsl(var(--success));
    padding: 0.7em;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: white;
  }

  .smsdispflex {
    display: flex;

  }

  .smsdispflex li:nth-of-type(1) {
    flex-basis: 2rem !important;
    flex-grow: 1;
  }
  .smsdispflex li:nth-of-type(2) {
    flex-basis: 30rem !important;
    flex-grow: 1;
  }
  .smsdispflex li:nth-of-type(3) {
    flex-basis: 30rem !important;
    flex-grow: 1;
  }


}

@media (max-width: 35em) {
  .bulksms > div {
    background-color: white;
    padding-inline: 4em;
    padding-block: 3em;
    font-size: 1.2rem;
  }

  .bulksms > div > div textarea {
    padding: 0.8em;
    height: 13rem;
    margin-block: 1em;
  }

  .addexistingcont {
    background-color: hsl(var(--success));
    color: white;
    padding: 0.7em;
    width: 100%;
    text-align: center;
    display: block;
  }

  .smsbalance {
    padding: 0.7em;
    width: 100%;
    display: block;
  }

  .sendsms {
    background-color: hsl(var(--success));
    color: white;
    padding: 0.7em;
    text-align: center;
    border-radius: 3rem;
    margin-top: 2em !important;
  }

  .smsdispflex {
    display: flex;
  }

  .mobiletb li:nth-of-type(2),
  .smsdispflex li:nth-of-type(2) {
    flex-basis: 2.5rem !important;
    flex-grow: 1;
  }

  .smscontacts ul li:nth-of-type(2) {
    flex: 30rem 1 1;
  }

  .smscontacts .div-table-inner {
    height: 25rem;
  }

  .smscontacts a {
    background-color: hsl(var(--success));
    padding: 0.7em;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: white;
  }
}
