@media (min-width: 35em) {
  .socialicons {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-shadow: 0.2rem 0.2rem 0.5rem hsl(var(--muted));
    left: -8rem;
    transition: 0.3s ease-in;
  }

  .socialicons:hover {
    left: 0 !important;
  }

  .socialicons .fa {
    color: hsl(var(--success));
    border: solid 0.1rem hsl(var(--success));
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 0.3em;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .socialicons div:nth-of-type(1) {
    height: 23rem;
    display: flex;
    gap: 1em;
    flex-direction: column;
    background-color: #fefefe;
    padding: 1.4em;
    border: solid 0.1rem hsl(var(--muted));
  }

  .socialicons div:nth-of-type(2) {
    padding: 0.4rem;
    padding: 0.4em;
    background-color: #efefef;
    border: solid 0.1rem hsl(var(--muted));
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .socialicons div:nth-of-type(2) span {
    display: block;
    height: 4rem;
    background-color: hsl(var(--muted));
    width: 0.2rem;
  }
}
