.div-table {
  background-color: white;
  padding-bottom: 1.2rem;
}

.div-table-head {
  background-color: #dedede;
  margin-top: 0.4rem;
}

.div-table-head tr td {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.2rem;
}

.div-table-body {
  font-size: 1.2rem;
}


.div-table-body tr tr {
margin: 0;
}

.div-table-body tr td {
  border-bottom: solid #ccc 0.1rem;
  text-transform: uppercase;
  color: hsl(var(--black));
  padding-inline: 1rem;
}

.div-table-body tr td input {
  padding-block: 1rem;
  border: 0;
  width: 100%;
}



@media (min-width: 35em) {
  .div-table-inner {
    margin-top: 0;
    margin-inline: 0.8rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50rem;
    position: relative;
  }
}

@media (max-width: 35em) {
  .div-table-inner {
    margin-top: 0;
    margin-inline: 0.8rem;
    height: 25rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
