
  .div-table {
    background-color: white;
    padding-bottom: 1.2rem;
  }

  .div-table-inner {
    margin-top: 0;
    margin-inline: 0.8rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .div-table-head {
    background-color: #dedede;
    margin-top: 0.4rem;
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .div-table-head ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    color: hsl(var(--black));
  }

  .div-table-head ul li {
    text-transform: uppercase;
  }

  .div-table-body {
    margin-top: 0.4rem;
    font-size: 1.2rem;
  }

  .div-table-body ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    color: hsl(var(--black));
    padding-inline: .8rem;
    padding-block: 0.8rem;
    border-bottom: solid var(--muted) 0.1rem;
  }

  .div-table-body ul li {
    text-transform: uppercase;
    color: var(--muted);
  }
