@media (min-width: 35em) {
  .table-search-box {
    display: flex;
    gap: 3.2rem;
    & > div {
      flex: 1 1 10rem;
    }
    & > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      height: 4rem;
    }
  }

  .table-wrapper {
    table {
      width: 100%;
      font-size: 1.2rem;
      td {
        padding: 0.8rem;
      }
      thead {
        background-color: #e2e2e2;
      }
      tbody {
        tr:nth-of-type(even) {
          background-color: #eee;
        }
      }
    }
  }

  .pagination-btns {
    display: flex;

    margin-top: 1.6rem;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    div {
      display: flex;
      gap: 0.4rem;

      a.pgn-btn-active {
        background-color: #555;
        color: white;
      }
      a {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: #555;
        border: solid 0.1rem #555;
        &:hover {
          background-color: #555;
          color: white;
        }
      }
    }
    button {
      outline: none;
      background-color: transparent;
      border: solid 0.1rem #555;
      padding-inline: 0.8rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: #555;
      border-radius: 2.4rem;
      &:hover {
        background-color: #555;
        color: white;
        cursor: pointer;
      }
    }
  }

  .tabledropdown {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.8rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div:nth-of-type(1) {
      display: flex;
      gap: 0.4rem;
      & > span {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #999;
      }
    }
    position: relative;
    & > div:nth-of-type(2) {
      display: none;
      padding: 2.4rem;

      ul {
        li {
          margin-bottom: 1rem;
          button {
            border: none;
            background-color: transparent;
            font-size: 1.2rem;
            cursor: pointer;
            display: flex;
            gap: 1.2rem;
            align-items: center;
            color: #777;
            i{
              font-size: 1.6rem;
            }
          }
        }

        li:last-child {
          button {
            color: red;
          }
        }
      }
    }
    &:hover > div:nth-of-type(2) {
      width: 20rem;
      height: 20rem;
      display: block;
      position: absolute;
      top: 2rem;
      right: 0;
      background-color: white;
      box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
      border-radius: 1.2rem;
      z-index: 3;
    }
  }
}

@media (max-width: 35em) {
  .table-search-box {
    & > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      height: 4rem;
    }
  }

  .table-wrapper {
    table {
      width: 100%;
      font-size: 1.2rem;
      td {
        padding: 0.8rem;
      }
      thead {
        background-color: #e2e2e2;
      }
      tbody {
        tr:nth-of-type(even) {
          background-color: #eee;
        }
      }
    }
  }

  .pagination-btns {
    display: flex;

    margin-top: 1.6rem;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    div {
      display: flex;
      gap: 0.4rem;
      flex-wrap: wrap;
      a.pgn-btn-active {
        background-color: #555;
        color: white;
      }
      a {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        color: #555;
        border: solid 0.1rem #555;
        &:hover {
          background-color: #555;
          color: white;
        }
      }
    }
    button {
      outline: none;
      background-color: transparent;
      border: solid 0.1rem #555;
      padding-inline: 0.8rem;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: #555;
      border-radius: 2.4rem;
      &:hover {
        background-color: #555;
        color: white;
        cursor: pointer;
      }
    }
  }
}
