.tabs-top-inner {
  border-bottom: solid 0.1rem var(--muted);
  font-size: 1.2rem;
  height: 3rem;
}

.tabs-top-inner ul li {
  display: inline-block;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: solid 0.1rem #fff;
  border-bottom: solid 0.1rem var(--muted);
  margin-left: 1rem;
  color: var(--muted);
  height: 3rem;
}

.tabs-top-inner ul li a {
  color: var(--muted);
}

.tabs-top-inner ul li:hover {
  border: solid 0.1rem var(--muted);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: #fff;
  border-bottom: 0.1rem #fff solid;
  bottom: -7px;
  z-index: 1;
}

.tabs-top-inner .active {
  border: solid 0.1rem var(--muted);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: #fff;
  border-bottom: 0.1rem #fff solid;
  bottom: -7px;
  z-index: 1;
}

.hide-tab {
  display: none;
}

.hide-tab.active {
  display: block;
}

.user-note-tabs .tabs {
  height: 50rem !important;
}
.user-note-tabs .div-table-inner {
  height: 40rem;
}

@media (min-width: 35em) {
  .tabs {
    width: 100%;
    background-color: white;
    padding: 1em;
    height: 50rem;
  }
}

@media (max-width: 35em) {
  .tabs {
    width: 100%;
    margin-top: 1rem;
    height: 50rem;
  }
}
