.toastnotification {
  width: 30rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  animation: toast ease-in 0.2s forwards;
  display: none;
}

.toastnotification.show {
  width: 30rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  animation: toast ease-in 0.2s forwards;
  display: block;
}

.toastnotification.show {
  color: #666;
  background-color: white;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.toast-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.toast-inner > div:nth-of-type(1) {
  width: 1rem;
  padding: 0.3em;
  height: 7rem;
}

.toast-inner > div:nth-of-type(2) .fa {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  color: white;
  padding: 0.7em;
  font-size: 1.4rem;
  margin-inline: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast-inner > div:nth-of-type(3) {
  font-size: 1.2rem !important;
}

@keyframes toast {
  0% {
    position: fixed;
    top: 0;
    right: -10rem;
  }

  20% {
    position: fixed;
    top: 0;
    right: 0rem;
  }

  40% {
    position: fixed;
    top: 0;
    right: -4rem;
  }

  60% {
    position: fixed;
    top: 0;
    right: -2rem;
  }

  100% {
    position: fixed;
    top: 0;
    right: 0rem;
  }
}
