.users-wrapper {
  background-color: white;
  padding: 5.6rem;
  margin-inline: auto;
  & > div {
    width: 80rem;
    margin-inline: auto;

    & > div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;

      & > div:nth-of-type(1) {
        .companydetails {
          text-align: left;
        }
      }

      & > div:nth-of-type(2) {
        display: flex;
        gap: 2.4rem;
        align-items: center;
        button {
          padding-inline: 1.2rem;
          border-radius: 0.8rem;
          height: 3.2rem;
          cursor: pointer;
        }
        button:nth-of-type(2) {
          background-color: var(--black);
          color: white;
          border: solid 0.1rem var(--black);
          &:hover {
            background-color: white;
            color: var(--black);
          }
        }
      }
    }

    & > div:nth-of-type(2) {
      border: solid 0.1rem #ccc;
      padding: 4rem;
      margin-top: 4.8rem;
    }
  }
}

.user-form {
  width: 50rem;
  .user-form-caption {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;
    background-color: #eee;
    padding: 1.6rem;
    gap: 3.2rem;
    & > div {
      flex: 1 1 5rem;
    }
    & > div:nth-of-type(1) {
      flex-grow: 1;
      i {
        display: block;
        height: 5.6rem;
        width: 5.6rem;
        font-size: 2.4rem;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #777;
        padding: 1.6rem;
        border-radius: 50%;
      }
    }
    & > div:nth-of-type(2) {
      flex-grow: 50;
    }
  }
}

.activitylogs {
  background-color: white;
  padding: 5.6rem;

  & > div {
    width: 80rem;
    margin-inline: auto;

    & > div:nth-of-type(1) {
      display: flex;
      margin-bottom: 4rem;
      justify-content: space-between;
      align-items: center;
      & > div:nth-of-type(1){
        .companydetails{
          text-align: left;
        }
      }
    }

    & > div:nth-of-type(2) {
      border: solid .1rem #ccc;
      padding: 2.4rem;
    }
  }
}
