.cred {
  color: #ccc;
}

@media (min-width: 35em) {
  .transactionfeedback-bx {
    .cont-note-btn,
    .inv-note-btn {
      display: block;
      background-color: #444;
      color: white;
      border-radius: 3.2rem;
      padding-block: 0.8rem;
      text-align: center;
      &:hover {
        background-color: white;
        color: #444;
        border: 0.1rem solid #444;
      }
    }
      .add-note-bx{
        position: relative; 
        width: 100%;
        .inv-note-txt{
          width: 100%;
          padding: 1.2rem;
        }
        & > label{
          position: absolute;
          left: 1.5rem; 
          top: -1.5rem;
          padding-inline: .8rem;
          background-color: white;
        }
      }
  

    padding: 4rem;
    border-radius: 2.4rem;
    border: solid 0.1rem #555;
    box-shadow: 0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.1);
    & > div:nth-of-type(1) {
      margin-bottom: 4rem;
      display: flex;
      justify-content: flex-end;
      span {
        display: block;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border-radius: 50%;
        border: solid 0.1rem #444;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    & > div:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
    }
    & > div:nth-of-type(3) {
      display: flex;
      gap: 3.2rem;
      justify-content: center;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }

  .previews {
    .preview-invoice,
    .preview-reciept,
    .preview-contract {
      border: none;
      border: solid 0.1rem #444;
      color: #444;
      padding-inline: 1.5rem;
      padding-block: 0.3rem;
      text-align: center;
      border-radius: 2rem;
      background-color: white;
      cursor: pointer;
      margin-right: 1.6rem;
    }
    .preview-invoice:hover {
      background-color: #444;
      color: white;
    }
    .preview-reciept:hover {
      background-color: #444;
      color: white;
    }
    .preview-contract:hover {
      background-color: #444;
      color: white;
    }
  }

  .sharing {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border: solid 0.1rem #444;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    gap: 3.2rem;
    width: 16.5rem;
    & > span {
      display: block;
      position: absolute;
      top: -1.4rem;
      left: 0.5rem;
      background-color: white;
      padding: 0.5rem;
      font-size: 1.2rem;
    }

    .fa-whatsapp {
      font-size: 1.7rem;
      cursor: pointer;
    }

    .fa-envelope {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .sms-btn {
    cursor: pointer;
  }
}

@media (max-width: 35em) {
  .transactionfeedback-bx {
    padding: 4rem;
    border-radius: 2.4rem;
    border: solid 0.1rem #555;
    box-shadow: 0.7rem 0.7rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
    & > div:nth-of-type(1) {
      margin-bottom: 4rem;
      display: flex;
      justify-content: flex-end;
      span {
        display: block;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border-radius: 50%;
        border: solid 0.1rem #444;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    background-color: white;
  }

  .previews {
    display: flex;
    margin-bottom: 2.4rem;
    gap: 1.6rem;

    .preview-invoice,
    .preview-reciept,
    .preview-contract {
      border: none;
      border: solid 0.1rem #444;
      color: #444;
      padding-inline: 1.5rem;
      padding-block: 0.3rem;
      text-align: center;
      border-radius: 2rem;
      background-color: white;
      cursor: pointer;
    }
    .preview-invoice:hover {
      background-color: #444;
      color: white;
    }
    .preview-reciept:hover {
      background-color: #444;
      color: white;
    }
    .preview-contract:hover {
      background-color: #444;
      color: white;
    }
  }

  .sharing {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    border: solid 0.1rem #444;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    gap: 3.2rem;

    & > span {
      display: block;
      position: absolute;
      top: -1.4rem;
      left: 0.5rem;
      background-color: white;
      padding: 0.5rem;
      font-size: 1.2rem;
    }

    .fa-whatsapp {
      font-size: 1.7rem;
      cursor: pointer;
    }

    .fa-envelope {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .sms-btn {
    cursor: pointer;
  }
}
